<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天室 - editor:yinq</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
</head>

<body>
<div class="chatbox">
    <div class="chat_top fn-clear">
        <!--<div class="logo"><img src="images/logo.png" width="190" height="60"  alt=""/></div>-->
        <div class="uinfo fn-clear">
            <div class="uface"><img class="user_avatar" src="images/hetu.jpg" width="40" height="40"  alt=""/></div>
            <div class="uname " >
                <span class="user_name"></span><i class="fontico down"></i>
                <ul class="managerbox">
                    <!--<li><a href="#"><i class="fontico lock"></i>修改密码</a></li>-->
                    <!--<li><a onclick="logout()"><i class="fontico logout"></i>退出登录</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="chat_message fn-clear">
        <div class="chat_left">
            <div class="message_box" id="message_box">

            </div>
            <div class="write_box">
                <textarea id="message" name="message" class="write_area" placeholder="说点啥吧..."></textarea>
                <div class="facebox fn-clear">
                    <div class="expression"></div>
                    <div class="chat_type" id="chat_type">群聊</div>
                    <button id="sendMessage"   class="sub_but">提 交</button>
                </div>
            </div>
        </div>
        <div class="chat_right">
            <ul class="user_list"  id='list' title="双击用户私聊">

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(e) {
        var socket = io.connect(':3000');
        var user_info = JSON.parse($.cookie('user_info').replace('j:',''));
        var chat = 'all';
        $('.user_avatar').attr('src', user_info.avatar);
        $('.user_name').html(user_info.name);
        //发送登录提醒
        socket.emit('online', {'user_info':user_info, 'chat':chat});
        //获取后台推送数据提醒
        socket.on('online', function (data) {
            if(data.user == user_info.name) {
                var remind = '<div class="msg_item fn-clear"><div class="uface"><img src="'+data.user.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">上线了</div><div class="name_time">'+data.user.name+'</div></div></div>'
            } else {
                var remind = '<div class="msg_item fn-clear"><div class="uface"><img src="'+data.user.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">进入聊天室</div><div class="name_time">'+data.user.name+'</div></div></div>'
            }
            $("#message_box").append(remind);
            flushUsers(data.user_list);
        })

        socket.on('say', function (data) {
            //对所有人说
            if (data.chat == 'all') {
                $("#message_box").append('<div class="msg_item fn-clear"><div class="uface"><img src="'+data.user_info.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">对所有人说：'+data.msg+'</div><div class="name_time">'+data.user_info.name+'</div></div></div>');
            }
            //对你密语
//            if (data.chat == user_info.name) {
//                $("#message_box").append('<div class="msg_item fn-clear"><div class="uface"><img src="'+data.user_info.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">对你'+chat+'说：'+data.msg+'</div><div class="name_time">'+data.user_info.name+'</div></div></div>');
//            }
        });


        socket.on(user_info.name, function (data) {
            $("#message_box").append('<div class="msg_item fn-clear"><div class="uface"><img src="'+data.user_info.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">对你说：'+data.msg+'</div><div class="name_time">'+data.user_info.name+'</div></div></div>');
        })

//        $('.uname').hover(
//            function(){
//                $('.managerbox').stop(true, true).slideDown(100);
//            },
//            function(){
//                $('.managerbox').stop(true, true).slideUp(100);
//            }
//        );

        function flushUsers(users)
        {
            $("#list").empty().append('<li alt="all" class="fn-clear selected"><em>所有用户</em></li>');
            for (var i in users) {
                $("#list").append('<li class="fn-clear" alt="'+users[i].name+'"><span><img src="'+users[i].avatar+'" width="30" height="30"  /></span><em>'+users[i].name+'</em><small class="online" title="在线"></small></li>');
            }
            //双击对某人聊天
            $("#list > li").dblclick(function() {
                if ($(this).attr('alt') != user_info.name) {
                    chat = $(this).attr('alt');
                    $("#list > li").removeClass('selected');
                    $(this).addClass('selected');
                    $("#chat_type").html( chat == "all" ? "群聊" : '私聊：'+chat);
                }
            });
        }

        $("#sendMessage").click(function() {
            //获取要发送的信息
            var msg = $("#message").val();
            if (msg == "") return;
            if (chat == "all") {
                $("#message_box").append('<div class="msg_item fn-clear"><div class="uface"><img src="'+user_info.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">对所有人说：'+msg+'</div><div class="name_time">'+user_info.name+'</div></div></div>');
            } else {
                $("#message_box").append('<div class="msg_item fn-clear"><div class="uface"><img src="'+user_info.avatar+'" width="40" height="40"  alt=""/></div><div class="item_right"><div class="msg">你对'+chat+'说：'+msg+'</div><div class="name_time">'+user_info.name+'</div></div></div>');

            }
            socket.emit('say', {user_info: user_info, chat: chat, msg: msg});
            $("#message").val('');
        });

        socket.on('offline', function (data) {
            //显示系统消息
            var sys = '<div style="color:#f00">系统:' + '用户 ' + data.user.name + ' 下线了！</div>';
            $("#message_box").append(sys + "<br/>");
            //刷新用户在线列表
            flushUsers(data.user_list);
            //如果正对某人聊天，该人却下线了
            if (data.user == chat) {
                chat = "all";
            }
            //显示正在对谁说话
            $("#chat_type").html( chat == "all" ? "群聊" : '私聊：'+chat);
        });


    });
</script>
</body>
</html>
